
* {
  box-sizing: border-box;
}

body {
  /* background: #f2f2f2; */
  color: #333333;
}

div {
  /* display: block; */
}

#container-home {
  width: 800px;
  min-height: 300px;
  background: #ffffff;
  margin: auto;
  padding: 40px 50px;
}

.card {
  width: 400px;
  background: #ffffff;
  margin: auto;
  border-radius: 6px;
  padding: 40px 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#container-form {
  opacity: .8;
}

.input_wrap {
  padding: 10px 0 0 0;
  margin-bottom: 35px;
  border-bottom: 2px solid #adadad;
}

.input_wrap_sel {
    border-bottom: 2px solid #333333;
}

input::placeholder {
  color: #adadad;
}

input:focus::placeholder {
  color: transparent;
}

input {
  height: 45px;
  width: 100%;
  background: transparent;
  display: block;
  /*padding: 0 5px 0 45px;*/
  padding: 0 5px;
  color: #555555;
  font-size: 15px;
  outline: none;
  border: none;
  overflow: visible;
}

#container-button {
  width: 300px;
}

button {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(left, #d06246, #fbd183);
  border: none;
  border-radius: 25px;
}

@keyframes joinSwap{
  from{background-color:#fbd183;}
  to{background-color: #d06246;}

}

#join {
  font-size: 20px;
  text-align: center;
  border: 3px solid #555;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background-color: #fbd183;
  color:#555;
  text-decoration: none;
  position: relative;
  left:70px;
  top: 10px;


}
#join:hover{
  animation-name: joinSwap;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes loginSwap{
  from{background-color:#dae9f2;}
  to{background-color: #fbd183;}

}

#loginbutton {
  font-size: 20px;
  text-align: center;
  border: 3px solid #555;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background-color: #dae9f2;
  color:#555;
  text-decoration: none;
  position: relative;
  left:70px;
  top: 10px;


}
#loginbutton:hover{
  animation-name: loginSwap;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.logo{
  height: 70px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#title{
  font-family: 'Roboto', sans-serif;
}

#container-logout {
  float: right;
}

#select-dogs{
    background-image: url('../images/dog-button.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
#select-cats{
    background-image: url('../images/cat-button.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
#select-other{
    background-image: url('../images/other-button.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.top-nav-item{
  margin-left:30px;
}

.animal-title{
  color:white;
  font-weight: bold;
}

.navigation {
  height: 100px;
  width: 100vw;
  padding: 20px 20px;
}

.text-center {
  text-align: center;
}

.landing {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/dog-cover.jpg');
}

.signup-cover {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/dog-cover2.jpg');
}

.login {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.splash-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-navigation {
  height: 100vh;
  position: fixed;
}

.main-content {
  /* padding-left: 420px; */
  height: 200vh;
}

@keyframes transp{
  from{opacity:1;}
  to{opacity: .8;}

}

.animal-type {
  height: calc(100vh / 4);
  display: flex;
  justify-content: center;
  align-items: center;

}

.animal-type:hover{
  animation-name: transp;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.animal-type button {
  all: initial;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container .card {
  width: 400;
  margin: 10px;
}

.pet-profile-container {
  border-radius: 6px;
}

.pet-full-card {
  display: none;
  padding: 40px 0;
  background-color: #dae9f2;
}

.close-card {
  height: 10px;
  width: 10px;
  position: absolute;
  right: -100px;
  top: 0;
}
